<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="SMTPServer" value="127.0.01"/>
    <add key="SMTPPort" value="25"/>
    <add key="BossMail" value="henry.berrenger@denver.co.br"/>
    <add key="LogDirection" value="Database"/>
    <add key="LogFilePath" value="c:\\logs\\logs.txt"/>
  </appSettings>

</configuration>
