<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <pages styleSheetTheme="Common"></pages>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	  <add key="xsltPath" value="E:\Rodrigo\InvoiceStyle.xsl" />
	  <add key="xsltPathForCustomer" value="E:\Rodrigo\CustomerInvoiceStyle.xsl" />
	  <add key="InvoiceIntegrationServiceAddress" value="https://denver.invoice.com.tr/Portal/DocumentContent/Invoice.aspx?GIBUUID={0}&amp;contentType={1}&amp;token={2}" />
	  <add key="aspnet:MaxHttpCollectionKeys" value="2001" />
	  <add key="IdentityServerUrl" value="http://bracntsrv01/IdentityServer" />
	  <add key="TurkuazGOBudgetManagementUrl" value="http://budgetmanagementtest.denver.com.tr" />
	  <add key="NetlogServiceUser" value="nlg_user_1234" />
	  <add key="NetlogServicePwd" value="30+292?3%" />
	  <add key="UserKey" value="9f3eec3a-a410-47ee-9060-89c45af3a1dc" />
	  <add key="TramerUserPassword" value="0a5bcc4a-a577-4779-3434-89c82af3a1dc" />
	  <add key="TramerMemberKey" value="61722A8B90914BD98C3A89FE26C0C44E@dod.com.tr" />
	  <add key="TramerMemberPassword" value="e07c02y89?" />
	  <add key="UserLanguage" value="1" />
	  <add key="InsightUrl" value="https://denver.com.tr/insight/api" />
	  <add key="RabbitMqUri" value="rabbitmq://10.113.203.41:9001/dev" />
	  <add key="RabbitMqUsername" value="dev-user" />
	  <add key="RabbitMqPassword" value="DevUser" />
	  <add key="RabbitMqDefaultQueuePrefix" value="Denver_" />
	  <add key="RabbitMqDefaultQueueSufix" value="" />
	  <add key="EnableRabbitMQ" value="false" />
	  <add key="EnableRabbitMQConsumer" value="false" />
	  <add key="DisableBusinessJobSystem" value="true" />
	  <add key="CocTypeTemplateXmlDocumentPath" value="\\10.236.51.61\DenverPublic\Integration\Income\Users\COC\CocTemplateXml" />
	  <add key="ScannerApiKey" value="0C7D7850905382DFAC249D0513359FB5DBF20083" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
